* {
    margin: 0;
    padding: 0;
}

:root {
    --preto: #1c1c1c;
    --cinza: #424242;
    --branco: #FFFFFF;
    --bege: #F5E9DA;
    --amarelo: #FFC107;
    --vermelho: #E53935;
    --verde-escuro: #104500;
    --verde-medio: #145301;
    --verde-claro: #7FD266;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: Poppins-Black;
    src: url("../fontes/Poppins-Black.ttf") format("truetype");
}

@font-face {
    font-family: Poppins-Bold;
    src: url("../fontes/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: Poppins-ExtraBold;
    src: url("../fontes/Poppins-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: Poppins-ExtraLight;
    src: url("../fontes/Poppins-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: Poppins-Light;
    src: url("../fontes/Poppins-Light.ttf") format("truetype");
}

@font-face {
    font-family: Poppins-LightItalic;
    src: url("../fontes/Poppins-LightItalic.ttf") format("truetype");
}

@font-face {
    font-family: Poppins-Regular;
    src: url("../fontes/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url("../fontes/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: Poppins-Thin;
    src: url("../fontes/Poppins-Thin.ttf") format("truetype");
}

@font-face {
    font-family: Tillana-ExtraBold;
    src: url("../fontes/Tillana-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: Tillana-Medium;
    src: url("../fontes/Tillana-Medium.ttf") format("truetype");
}

@font-face {
    font-family: Tillana-Regular;
    src: url("../fontes/Tillana-Regular.ttf") format("truetype");
}

body {
    overflow-x: hidden;
}