@media screen and (max-width: 480px) {

    .home {
        height: 3em;
        width: 3em;
        bottom: 2em;
        right: 2em;
    }

    /* SECTION PRINCIPAL*/

    .background-principal {
        background: var(--preto) url("../imagens/background-480p.jpg") no-repeat bottom center;
        background-size: cover;
    }

    .logo-principal {
        padding-bottom: 15em;
        padding-top: 2em;
    }

    .nav-bar {
        flex-direction: column-reverse;
        padding: 0;
        gap: 2em;
    }

    .nav {
        padding: 3em 0;
        margin: 0 auto;
    }
    
    nav ul {
        font-size: 1.2em;
        gap: 0.5em;
    }

    #link-reserve {
        font-size: 1.37em;
        display: flex;
        justify-content: center;
    }


    /* SECTION CTA*/

    .cta {
        height: max-content;
    }

    .texto-cta {
        padding: 3em 1em;
        text-align: center;
    }

    .texto-cta h1 {
        font-size: 1.2em;
        line-height: 1.28em;
    }

    .texto-cta p {
        font-size: 1em;
        padding-top: 4%;
    }
    
    .img-cta {
        height: 20em;
        width: 20em;

        bottom: 8%;
        right: 50%;
        transform: translate(50%);
    }

    .chamada-cta {
        gap: 14em;
        padding-top: 5%;
    }

    .fundo-botaocta {
        border-radius: 60px;
        font-size: 1.56em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5em 1.3em;
    }

    /* SECTION DESTAQUES*/

    .destaques {
        max-width: 360px;
        margin: 0 auto;
    }

    .destaques-geral {
        padding: 0;
    }

    .titulo-destaques {
        font-size: 2.5em;
    }

    .burger {
        gap: 2em;
        padding-bottom: 3em;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #burger1,
    #burger3, #burger5 {
        flex-direction: column-reverse;
    }


    .nome-burger,
    .nome-burgerveg {
        font-size: 2.5em;
    }

    .descricao-burger,
    .diferencial-burger, 
    .diferencial-burgerveg {
        font-size: 1.12em;
    }

    .img-burger img {
        width: 20em;
        height: 20em;
    }

    .preco h2 {
        font-size: 1.5em;
        padding-left: 6.5em;
    }
    
    #cifra-h2 {
        font-size: 1.18rem;
    }
    
    .preco h1 {
        font-size: 2.25em;
    }
    
    #cifra-h1 {
        font-size: 1.62rem;
    }

    /* SECTION COMBOS*/

    #section-combos {
        background-image: url("../imagens/background-combos-480p.jpg");
    }

    .combos {
        max-width: 360px;
        padding: 4em;
        display: flex;
        flex-direction: column;
        padding: 0 2em;
        gap: 0;
    }

    .combos-direita {
        text-align: left;
    }

    .titulo-combos {
        font-size: 2.5em;
    }

    .nome-combo, 
    .nome-combo-veg {
        font-size: 1.5em;
    }

    .descricao-combo {
        font-size: 1.18em;
    }

    .preco-combo{
        font-size: 2em;
    }

    .combo {
        padding-bottom: 3em;
    }

    /* SECTION SOBRE NÓS*/

    .sobre {
        max-width: 360px;
        padding: 1em 1em;
    }

    #titulo-sobrenos {
        font-size: 2.5em;
        padding: 0.3em 0;
    }

    /* SECTION LOCALIZAÇÃO */

    #titulo-locali {
        font-size: 2.5em;
        padding: 0.9em 0;
    }

    .locali {
        max-width: 360px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 4em;
    }

    .locali img {
        width: 80%;
    }

    .mapa {
        text-align: center;
    }

    .infos h1 {
        font-size: 1.75em;
    }

    .infos p {
        font-size: 1.25em;
        padding-left: 1rem;
    }

    /* FOOTER */

    footer {
        font-size: 0.87em;
        flex-direction: column;
        padding: 2em 3em;
    }

    .footer {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    #copyright, 
    .dev {
        font-size: 1rem;
    }

    #copyright {
        padding-bottom: 1em;
    }

    .dev {
        padding-top: 1.5em;
        margin: 0;
    }
}


@media screen and (min-width: 481px) and (max-width: 768px) {
    .home {
        height: 3em;
        width: 3em;
        bottom: 2em;
        right: 2em;
    }

    /* SECTION PRINCIPAL*/

    .background-principal {
        background: var(--preto) url("../imagens/background-768p.jpg") no-repeat bottom center;
        background-size: cover;

        height: max-content;
    }

    .logo-principal {
        padding-bottom: 15em;
    }

    .nav-bar {
        flex-direction: column-reverse;
        padding: 0;
        gap: 1em;
    }

    .nav {
        padding: 4em 0;
        margin: 0 auto;
    }
    
    nav ul {
        font-size: 1.5em;
        gap: 1em;
    }

    #link-reserve {
        font-size: 2.5em;
        display: flex;
        justify-content: center;
    }

    /* SECTION CTA*/

    .cta {
        height: max-content;
    }

    .texto-cta {
        padding: 5em 7em;
    }

    .texto-cta h1 {
        font-size: 2.06em;
        line-height: 1.28em;
    }

    .texto-cta p {
        font-size: 1.25em;
        padding-top: 4%;
    }

    .img-cta {
        height: 20em;
        width: 20em;
        bottom: -2em;
        right: -4em;
    }

    .chamada-cta {
        gap: 2em;
        padding-top: 5%;
    }

    .fundo-botaocta {
        border-radius: 60px;
        font-size: 1.56em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.8em 1.8em;
    }

    /* SECTION DESTAQUES*/

    .destaques {
        max-width: 600px;
        margin: 0 auto;
    }

    .destaques-geral {
        padding: 0;
    }

    .titulo-destaques {
        font-size: 3em;
    }

    .burger {
        gap: 3em;
        padding-bottom: 6em;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #burger1,
    #burger3, #burger5 {
        flex-direction: column-reverse;
    }

    .nome-burger,
    .nome-burgerveg {
        font-size: 3.25em;
    }

    .descricao-burger,
    .diferencial-burger, 
    .diferencial-burgerveg {
        font-size: 1.68em;
    }

    .img-burger img {
        width: 20em;
        height: 20em;
    }

    .preco h2 {
        font-size: 1.9em;
        padding-left: 6.5em;
    }
    
    #cifra-h2 {
        font-size: 1.5rem;
    }
    
    .preco h1 {
        font-size: 3em;
    }
    
    #cifra-h1 {
        font-size: 1.8rem;
    }

    /* SECTION COMBOS*/

    .combos {
        max-width: 600px;
        padding: 4em;
        display: flex;
        flex-direction: column;
        padding: 0 2em;
        gap: 0;
    }

    .combos-direita {
        text-align: left;
    }

    .titulo-combos {
        font-size: 3em;
    }

    .nome-combo, 
    .nome-combo-veg {
        font-size: 2.31em;
    }

    .descricao-combo {
        font-size: 1.75em;
    }

    .preco-combo{
        font-size: 2em;
    }

    .combo {
        padding-bottom: 3em;
    }

    /* SECTION SOBRE NÓS*/

    .sobre {
        padding: 0em 8em;
    }

    #titulo-sobrenos {
        font-size: 3em;
        padding-bottom: 0.5em;
    }

    #texto-sobrenos {
        font-size: 1.25em;
        padding-bottom: 3em;
    }

    /* SECTION LOCALIZAÇÃO */

    #titulo-locali {
        font-size: 3em;
        padding: 0.9em 0;
    }

    .locali {
        max-width: 600px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 4em;
    }

    .locali img {
        width: 95%;
    }

    .mapa {
        text-align: center;
    }

    .infos h1 {
        font-size: 2.06em;
    }

    .infos p {
        font-size: 1.62em;
        padding-left: 2rem;
    }

     /* FOOTER */

     footer {
        font-size: 1.37em;
        flex-direction: column;
        padding: 2em 3em;
    }

    .footer {
        display: flex;
        flex-direction: column;
        gap: 0.4em;
    }

    #copyright, 
    .dev {
        font-size: 1.68rem;
    }

    #copyright {
        padding-bottom: 1em;
    }

    .dev {
        padding-top: 1.5em;
        margin: 0;
    }

}

@media screen and (min-width: 481px) and (max-width: 950px) {
    .background-principal {
        height: max-content;
    }

    #link-reserve {
        padding-bottom: 1em;
        font-size: 1.5em;
    }

    .nav-bar {
        padding: 0;
    }
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
    
    .logo-principal {
        padding-bottom: 15em;
    }
    
    /* SECTION CTA*/

    .cta {
        height: max-content;
    }

    .texto-cta {
        padding: 5em 10em;
    }

    .texto-cta h1 {
        font-size: 2.4em;
        line-height: 1.28em;
    }

    .texto-cta p {
        font-size: 1.4em;
        padding-top: 4%;
    }

    .img-cta {
        height: 35em;
        width: 35em;
        bottom: -5em;
        right: -5em;
    }

    .chamada-cta {
        gap: 2em;
        padding-top: 5%;
    }

    .fundo-botaocta {
        border-radius: 60px;
        font-size: 1.9em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.8em 1.8em;
    }

    /* SECTION DESTAQUES*/

    .destaques {
        margin: 0 auto;
    }

    .destaques-geral {
        padding: 0;
    }

    .img-burger img {
        width: 20em;
        height: 20em;
    }

    .burger {
        max-width: 80%;
        margin: 0 auto;
    }

    /* SECTION COMBOS*/

    .descricao-combo {
        font-size: 1.75em;
    }

    /* SECTION SOBRE NÓS*/

    #titulo-sobrenos {
        padding-bottom: 0.4em;
    }

    #texto-sobrenos {
        font-size: 1.4em;
        padding-bottom: 1em;
    }

    /* SECTION LOCALIZAÇÃO */

    .locali {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 4em;
    }
}

@media screen and (min-width: 770px) and (max-width: 1150px) {
    .background-principal {
        background: var(--preto) url("../imagens/background-1150p.jpg") no-repeat bottom center;
        background-size: cover;
    }
}

@media screen and (min-width: 951px) and (max-width: 1279px) {
    
    .nav-bar {
        padding: 4em 4em;
        gap: 10em;
    }

    nav ul {
        font-size: 1.5em;
        gap: 0.5em;
    }

    .logo-principal {
        padding-bottom: 15em;
    }

    #link-reserve {
        font-size: 1.3em;
    }
    
    .combos {
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        padding: 2em 2em;
        gap: 0;
    }

    .combos-direita {
        text-align: left;
    }

    .burger {
        gap: 3em;
        padding-bottom: 6em;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #burger1,
    #burger3, #burger5 {
        flex-direction: column-reverse;
    }

    .img-burger img {
        width: 20em;
        height: 20em;
    }
}

@media screen and (min-width: 769px) and (max-width: 950px) {
    
    .nav-bar {
        flex-direction: column-reverse;
        padding: 0;
        gap: 3em;
    }

    .nav {
        padding: 4em 0;
        margin: 0 auto;
    }
    
    nav ul {
        font-size: 2em;
        gap: 0.5em;
    }

    #link-reserve {
        font-size: 2.7em;
        display: flex;
        justify-content: center;
    }
    
    .burger {
        gap: 3em;
        padding-bottom: 6em;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #burger1,
    #burger3, #burger5 {
        flex-direction: column-reverse;
    }

    .combos {
        max-width: 900px;
        display: flex;
        flex-direction: column;
        padding: 0 5em;
        gap: 0;
    }

    .combos-direita {
        text-align: left;
    }

    .mapa {
        margin: 0 auto;
    }

    .locali {
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 4em;
    }

    .locali img {
        width: 100%;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1554px) {

    .nav-bar {
        gap: 10em;
    }
   
    nav ul {
        gap: 0.5em;
    } 
    
    /* SECTION PRINCIPAL*/

     .cta {
        height: max-content;
    }

    .texto-cta {
        padding: 5em 10em;
        max-width: 1281px;
    }

    .texto-cta h1 {
        font-size: 2.5em;
        line-height: 1.28em;
    }

    .texto-cta p {
        font-size: 1.6em;
        padding-top: 4%;
    }

    .img-cta {
        height: 35em;
        width: 35em;
        bottom: -5em;
        right: -5em;
    }

    .fundo-botaocta {
        border-radius: 60px;
        font-size: 1.9em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.8em 1.8em;
    }

    /* SECTION DESTAQUES*/

    .destaques {
        max-width: 1281px;
    }
    
    .destaques-geral {
        padding: 4em;
    }

    .img-burger img {
        width: 25em;
        height: 25em;
    }


    .combos {
        max-width: 1281px;
    }


    .sobre {
        max-width: 1281px;
    }


    .locali {
        max-width: 1281px;
        padding: 2em;
        gap: 1em;
    }

    .infos h1 {
        font-size: 1.9em;
    }

    .infos p {
        font-size: 1.5em;
        padding-left: 2rem;
    }
}

@media screen and (min-width: 1555px) and (max-width: 1826px) {
    .nav-bar {
        gap: 20em;
    }

    .locali {
        padding: 5em;
}